<div class="header">
  <ul class="nav nav-pills pull-right">
  </ul>
  <h3 class="text-muted">ModuloPreguntas</h3>
</div>

<div class="jumbotron">
  <h1>Añadir Pregunta</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Bienvenidos al modulo preguntas.
  </p>
  <div class="container">
 
</div>
</div>

 <form class="form-horizontal row" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pregunta">Pregunta</label> 
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Añadir pregunta" id="pregunta">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pregunta">Categoria</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Español A</option>
          <option>Ingles A</option>
          <option>Matematicas A</option>
          <option>Biologia A</option>
          <option>Sociales A</option>
          <option>Español B</option>
          <option>Ingles B</option>
          <option>Matematicas B</option>
          <option>Biologia B</option>
          <option>Sociales B</option>
          <option>Español C</option>
          <option>Ingles C</option>
          <option>Matematicas C</option>
          <option>Biologia C</option>
          <option>Sociales C</option>
        </select>
      </div>
      </div>
      <!--Se abre la opcion A-->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">A</span>
          <input type="text" class="form-control" placeholder="Opcion A">
        </div>
        <label for="exampleInputFile col-lg-6">Examinar</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Selecciona una imagen.</p>
      </div>
      <!--Se cierra la opcion A-->

      <!--Se abre la opcion B-->
      <div class="form-group col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">B</span>
          <input type="text" class="form-control" placeholder="Opcion B">
        </div>
        <label for="exampleInputFile col-lg-6">Examinar</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Selecciona una imagen.</p>
      </div>
      <!--Se cierra la opcion B-->

      <!--Se abre la opcion C-->
      <div class="form-group col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">C</span>
          <input type="text" class="form-control" placeholder="Opcion C">
        </div>
        <label for="exampleInputFile col-lg-6">Examinar</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Selecciona una imagen.</p>
      </div>
      <!--Se cierra la opcion C-->

      <!--Se abre la opcion D-->
      <div class="form-group col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">D</span>
          <input type="text" class="form-control" placeholder="Opcion D">
        </div>
        <label for="exampleInputFile col-lg-6">Examinar</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Selecciona una imagen.</p>
      </div>
      <!--Se cierra la opcion D-->

    <span class="form-group">
      <input type="submit" class="btn btn-success" value="Guardar">
    </span>
  </form>


<table class="table table-hover">
  <thead>
    <tr>
      <td>Pregunta</td>
      <td>Categoria</td>
      <td>Respuestas1</td>
      <td>Respuestas2</td>
      <td>Respuestas3</td>
      <td>Respuestas4</td>
      <td>Editar - Eliminar</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pregunta</td>
      <td>Categoria</td>
      <td>Respuestas1</td>
      <td>Respuestas2</td>
      <td>Respuestas3</td>
      <td>Respuestas4</td>
      <td><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
    </tr>
  </tbody>
</table>


<div class="footer">
  <p>♥ from the Yeoman team & julo team</p>
</div>
